<!DOCTYPE html>
<html>
  <head>
    <title>SemesterProjectCagovea</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= link_to "Administrators", administrators_path %>
  <%= link_to "Courses", courses_path %>
  <%= link_to "Faculty", faculties_path %>
    <%= yield %>
  </body>
</html>
